x64
.vs
/*.opendb
/*.db
/Example/*.vcxproj
/Example/*.filters
/Example/*.user
/CuCLAB/*.pdb
/CoeusRL/*.vcxproj
/CoeusRL/*.filters
/CoeusRL/*.user
/CuCLAB/*.vcxproj
/CuCLAB/*.user
/Coeus/*.vcxproj
/Coeus/*.filters
/Coeus/*.user
/CLAB/*.vcxproj
/CLAB/*.filters
/CLAB/*.user
Debug
